{
  plugins:
    [
      "@semantic-release/commit-analyzer",
      "@semantic-release/release-notes-generator",
      [
        "@semantic-release/exec",
        {
          "verifyConditionsCmd": "echo $PWD",
          "prepareCmd": "./prepare.sh ${nextRelease.version}"
        },
      ],
    ],
}
